[Desktop Entry]
Type=Application
Name=ML4W Hyprland Settings App
Exec=/home/chrisb/dotfiles/apps/ML4W_Hyprland_Settings-x86_64.AppImage
Icon=/home/chrisb/dotfiles/apps/ml4w-hyprland-settings.png
Terminal=false
Categories=Utility